<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <%- include('./partials/header') %>

    <header class="flex justify-end"></header>

    <div class="min-h-screen w-full p-10"style="background:black;">

      <div class="">
        <h3 class="text-zinc-400 text-xl mb-5"style="text-align:center">SEE ALL YOUR BLOGS</h3>

        <div class="postcontainer">
          <% posts.reverse( ).map(post=>{ %>

          <div class="card  rounded-md p-3 mb-2  w-1/3" style="background-color:black;box-shadow:inset 0px 0px 10px 0px rgb(115, 112, 112);padding:20px;">
            <img class="inline-block w-full h-80" src="<%= post.image %>" alt="img" />
            <div class="flex justify-between item-center mt-3">
              <h2 class="text-zinc-300 mb-1 text-xl">Title : <%= post.title %></h2>
              <h4 class="text-zinc-500 mb-1 text-sm">@ <%= post.user.name %></h4>
            </div>
            <p class="text-zinc-400 text-sm"><%= post.content %></p>
            
          </div>

          <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>
